*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 255, 255);
}

html,
body{
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
  color: white;

}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  border: 2px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  background-color: rgb(77, 76, 76);
}

.card h1{
  color: rgb(67, 209, 107);
}

.card img{
  height: 150px;
  width: 150px;
  margin: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.card p{
  margin: 10px 0;
  /* text-align: justify; */
}

.card button{
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  /* background-color: black; */
  color: black;
  cursor: pointer;
}